{% extends layout %}
{% block content %}
  <div>
    {% for Manga in MangaList %}
      <div class="tasks">
        <h3>{{Manga.Title}}</h3>
        <p>Chapter: {{Manga.Chapter}} ||</p>
        <p>Status: {{Manga.Status}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}