{% extends layout %}
{% block content %}
  <div>
    {% for task in tasks %}
      <div class="tasks">
        <h3>Task id: {{task.id}}</h3>
        <p>Task: {{task.task}} ||</p>
        <p>Completions: {{task.completed}} ||</p>
        <p>Created At: {{task.created_at}} ||</p>
        <p>Updated At: {{task.updated_at}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}