{% extends layout %}
{% block content %}
  <div>
    <form action="/tasks" method="post">
      <label for="task">Task</label>
      <input 
        type="text" 
        name="task" 
        id="task" 
        value="{{ task }}" 
        placeholder="Write a task" 
        required>
      <button type="submit">Add Task</button>
    </form>
  </div>
  <div>
    {% for task in tasks %}
      <div class="tasks">
        <h3>{{task.task}}</h3>
        <p>id: {{task.id}}</p>
        <p>Completions: {{task.completed}} ||</p>
        <p>Created At: {{task.created_at}} ||</p>
        <p>Updated At: {{task.updated_at}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}