* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

p {
  display: inline-block;
}

div {
  margin-bottom: 10px;
  .tasks {
    border: 1px solid black;
    padding: 5px;
  }
}

